@import '../_var'

.banner
    &.home-banner
        overflow: hidden
        @include before
        &::before
            background: $gradient-a
        .bg
            height: 100vh
            @include media(540)
                height: 80vh
            .banner-wrapper
                opacity: 1
                border-radius: 10px
                position: absolute
                left: 50%
                top: 60%
                bottom: initial
                width: 100%
                z-index: 3
                transform: translate(-50%, -50%)
                .banner-heading
                    position: relative
                    bottom: 40px
                    ul
                        display: flex
                        align-items: center
                        gap: 20px
                        li
                            a
                                color: $white
                                font-weight: 500
                                font-size: 16px
                                line-height: 16px
                                
                                display: flex
                                justify-content: center
                                gap: 10px
                                transition: 0.5s ease
                                figure
                                    width: 16px
                                    height: 16px
                                    border-radius: 50%
                                    background: $white
                                    display: flex
                                    align-items: center
                                    justify-content: center
                                    display: none
                                    img
                                        width: 100%
                                        height: 100%
                                        object-fit: contain
                                        padding: 2px
                                &.active
                                    padding: 11px 17px
                                    border-radius: 25px
                                    border: 1px solid $white
                                    figure
                                        display: block

                .flex-box
                    display: flex
                    justify-content: center
                    gap: 40px
                    .col
                        width: 100%
                        height: 347px
                        max-width: 50%
                        background: $white
                        border-radius: 10px
                        overflow: hidden
                    .col:first-child
                        padding: 15px
                        .flight-search-container
                            .location-row
                                border-radius: 6px
                                border: 1px solid #E0DEDE
                                width: 100%
                                height: 118px
                                position: relative
                                display: flex
                                justify-content: space-between
                                margin-bottom: 15px
                                .switch-location
                                    height: fit-content
                                    position: absolute
                                    left: 45%
                                    top: 50%
                                    transform: translate(-50%, -50%)
                                    figure
                                        box-shadow: 0px 1px 4px 0px #00000029
                                        width: 44px 
                                        height: 44px
                                        display: flex
                                        justify-content: center
                                        align-items: center
                                        border-radius: 50%
                                        padding: 6px
                                        background: $white
                                        img
                                            width: 100%
                                            height: 100%
                                .location-section
                                    padding: 20px
                                    flex: 0 1 45%
                                    .location-label
                                        font-weight: 400
                                        font-size: 16px
                                        line-height: 16px
                                        color: $text
                                        padding-bottom: 15px
                                    .location-name
                                        font-weight: 700
                                        font-size: 24px
                                        line-height: 16px
                                        color: $black       
                                        padding-bottom: 10px

                                    .location-code
                                        font-weight: 400
                                        font-size: 14px
                                        line-height: 16px
                                        color: $text

                                .location-section:last-child
                                    padding: 20px 20px 20px 60px
                                    border-left:  1px solid #E0DEDE
                                    flex: 0 1 55%
                            .details-row
                                border-radius: 6px
                                border: 1px solid #E0DEDE
                                width: 100%
                                height: 118px
                                position: relative
                                display: flex
                                justify-content: space-between
                                margin-bottom: 15px
                                .detail-section
                                    padding: 20px
                                    .detail-label
                                        font-weight: 400
                                        font-size: 16px
                                        line-height: 16px
                                        color: $text
                                        padding-bottom: 15px
                                    .detail-value
                                        padding-bottom: 10px
                                        b
                                            font-weight: 700
                                            font-size: 24px
                                            line-height: 16px
                                            color: $black
                                        span
                                            font-weight: 400
                                            font-size: 20px
                                            line-height: 16px
                                            color: $black
                                    .detail-text
                                        font-weight: 400
                                        font-size: 14px
                                        line-height: 16px
                                        // color: $text

                                .detail-section:nth-child(1)
                                    flex: 0 1 30%
                                .detail-section:nth-child(2)
                                    flex: 0 1 30%
                                    border-left:  1px solid #E0DEDE
                                    .detail-text
                                        color: #AFAFAF
                                .detail-section:nth-child(3)
                                    flex: 0 1 60%
                                    border-left:  1px solid #E0DEDE
                        .search-button
                            background: #E7B806
                            border-radius: 5px
                            padding: 6px 35px
                            gap: 10px
                            color: $black
                            font-weight: 700
                            font-size: 18px
                            text-transform: uppercase



                    .col:last-child
                        background: #FFFFFF
                        background: #FFFFFF80
                        background: #8E41DC
        .swiper
            .swiper-wrapper
                .swiper-slide
                    .slide-box
                        height: 310px
                        img
                            border-radius: 10px
                            overflow: hidden
                            // object-fit: contain !important
            .swiper-pagination
                width: 100%
                height: 50px
                display: flex
                justify-content: center
                align-items: center
                position: relative
                z-index: 2
                gap: 3px
                span
                    position: relative
                    background-color: white
                    opacity: 1
                    transition: 0.5s ease
                    background: #FFFFFF80
                .swiper-pagination-bullet-active,.fill
                    background: $white
                    transition: 0.5s ease
                    
.home-secA
    position: relative
    .heading
        text-align: center
        h2
            font-weight: 700
            font-size: 36px
            text-transform: uppercase
            color: $primary
            @include media(540)
                font-size: 27px
        p
            font-size: 36px
            line-height: 1.2
            font-weight: 400
            color: #000
            max-width: 630px
            margin: 0 auto
            @include media(768)
                font-size: 30px
            @include media(540)
                font-size: 20px
    .services-container
        width: 100%
        padding: 70px 0 20px
        display: flex
        gap: 70px
        @include media(991)
            gap: 30px
        @include media(768)
            padding: 50px 0 20px
            gap: 20px
        @include media(540)
            flex-direction: column
            gap: 30px
            padding: 20px 0 

.home-secB
    padding: 0
    overflow: hidden
    .heading
        margin-bottom: 40px
        h2
            @include media(540)
                font-size: 27px
    .banner
        height: 100vh
        @include media(768)
            height: 90vh
        @include media(540)
            height: 100vh
        @include before
        &::before
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%)
            @include media(768)
                background: linear-gradient( 180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%)
        .bg
            height: 100%
            figure
                height: 100%
                video
                    width: 100%
                    height: 100%
                    object-fit: cover
        .banner-wrapper
            bottom: 18%
            @include media(1024)
                bottom: 20%
            @include media(768)
                bottom: 0%
                height: 100%
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
            .container
                position: absolute
                bottom: 20%
                @include media(540)
                    bottom: initial
            .heading
                max-width: 500px
                margin-bottom: 0
                @include media(768)
                    max-width: 100%
                    text-align: center
                h3
                    color: #fff
                    font-weight: 700
                    font-size: 48px
                    line-height: 48px
                    @include media(991)  
                        font-size: 80px
                    @include media(768)
                        font-size: 45px
                        margin-bottom: 15px
                    @include media(540)
                        font-size: 23px
                        margin-bottom: 10px
                        line-height: 1.1
                    &:nth-child(2) 
                        text-align: center
                    &:last-child 
                        text-align: end
                p
                    font-weight: 500
                    color: $white
                    font-size: 16px
                    line-height: 24px
                    @include media(540)
                        line-height: 1.2
                        font-size: 14px
                        font-weight: normal
                .bottom-btn
                    padding: 16px 24px
                    border-radius: 25px
                    display: inline-block
                    margin-top: 40px
                    color: $white
                    background: #FFA319
                    font-weight: 600
                    font-size: 16px
                    line-height: 10px
                    text-transform: uppercase
                    @include media(540)
                        padding: 10px 24px
            .right-wrapper
                display: flex
                align-items: center
                justify-content: right
                gap: 40px
                @include media(768)
                    justify-content: center
                    margin-top: 70px
                @include media(540)
                    flex-direction: column

                img
                    width: fit-content
                .year
                    span
                        font-weight: 600
                        font-size: 24px
                        color: white
                        line-height: 30px
                    p
                        color: $white
                        font-weight: 400
                        font-size: 15px
                        line-height: 30px
                .play-button
                    .play-btn
                        background: white
                        &::after
                            border-left: calc(var(--btnsize) / 5.6) solid #3107CA

.home-secC
    padding: 0px 0 60px 0
    overflow: hidden
    .heading    
        padding: 60px 0 40px 0
        @include media(540)
            padding: 60px 0 30px 0
        h2
            @include media(540)
                font-size: 27px
    .grid-box
        display: grid
        grid-template-columns: repeat(3,1fr)
        gap: 4px
        @include media(1024)
            grid-template-columns: repeat(2,1fr)
        @include media(540)
            grid-template-columns: repeat(1,1fr)
        .col
                
            &:hover
                figcaption
                    top: 0%
                    .content
                        h5
                            margin-bottom: 20px
                        p
                            scale: 1
                            margin-left: 0
                            margin-top: 0
                figure
                    &::before
                        background: #3107CA
                    &::after
                        opacity: 0.4
                        @include media(768)
                            opacity: 0.1
            figure
                position: relative
                overflow: hidden 
                line-height: 0
                &::before
                    content: ""
                    position: absolute
                    top: 0
                    left: 0
                    height: 100%
                    width: 100%
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.9%, rgba(0, 0, 0, 0.65) 100%)
                    z-index: 1
                    transition: 0.8s ease
                &::after
                    content: ""
                    position: absolute
                    bottom: 0
                    right: 0
                    width: 160px
                    height: 130px
                    z-index: 2
                    background-image: url("/assets/images/home/x-vector.png")
                    background-size: contain
                    background-position: center
                    background-repeat: no-repeat
                    opacity: 0
                    transition: 1s                        
                img
                    height: 100%
                    transition: 0.4s ease
                figcaption
                    position: absolute
                    // top: 71%
                    top: 67%
                    left: 0
                    width: 100%
                    height: 100%
                    z-index: 1
                    transition: 0.8s ease
                    @include media-min(1500)
                        top: 70%
                    .content
                        padding: 40px 0 0 30px
                        @include media(768)
                            padding: 40px 0 0 20px
                        h5
                            font-weight: 600
                            font-size: 24px
                            line-height: 30px
                            color: $white
                            margin-bottom: 90px
                            transition: 0.8s ease
                            @include media(768)
                                font-size: 22px
                            @include media(540)
                                font-size: 19px
                        p
                            line-height: 1.3 !important
                            color: $white
                            font-weight: 400
                            font-size: 14px
                            line-height: 20px
                            max-width: 350px
                            scale: 1.1
                            margin-left: 20px
                            margin-top: 40px
                            transition: 0.8s ease
                            @include media(540)
                                font-size: 14px
                        .bottom-btn
                            border-radius: 25px
                            padding: 16px 24px
                            background: #FFA319
                            display: inline-block
                            margin-top: 50px
                            @include media(768)
                                margin-top:30px
                            @include media(540)
                                padding: 10px 24px
                            span
                                font-weight: 600
                                font-size: 16px
                                line-height: 10px
                                color: $white
                                display: inline-block

.home-secD
    padding: 0px 0 70px 0
    overflow: hidden
    max-width: 70%
    margin: auto
    @include media(768)
        max-width: 90%
    .heading
        h2
            @include media(540)
                font-size: 27px
    .content
        max-width: 663px
        padding: 10px 0
        margin: auto
        p
            text-align: center
            font-weight: 400
            font-size: 14px
            color: $text
            line-height: 22px
            margin-bottom: 30px
        .bottom-btn
            text-align: center
            font-weight: 600
            line-height: 10px
            display: inline-block
            width: 100%
            span
                margin: auto
                font-size: 14px
                text-transform: uppercase
                color: #3107CA
                border: 1px solid #3107CA
                border-radius: 25px
                width: fit-content
                padding: 16px 24px
                display: inline-block
    .custom-slider
        padding: 50px 0 0 0
        .swiper-wrapper 
            transition-timing-function: linear !important
            .item-md
                figure
                    width: 98px
                    height: 98px
                    img
                        height: 100%
                        width: 100%
                        object-fit: contain


.home-secE
    background: #3107CA
    padding: 0 0 100px 0
    @include media(540)
        padding: 0 0 40px 0px
    .heading
        padding: 60px 0 0px 0
        text-align: center
        h2
            color: $white
            @include media(540)
                font-size: 27px
            
.heading
    h2
        font-weight: 700
        font-size: 36px
        text-transform: uppercase
        color: $primary

.displaynone
    display: none

    