@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner.home-banner {
  overflow: hidden;
  position: relative;
}
.banner.home-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
}
.banner.home-banner::before {
  background: var(--gradient-a);
}
.banner.home-banner .bg {
  height: 100vh;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg {
    height: 80vh;
  }
}
.banner.home-banner .bg .banner-wrapper {
  opacity: 1;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 60%;
  bottom: initial;
  width: 100%;
  z-index: 3;
  transform: translate(-50%, -50%);
}
.banner.home-banner .bg .banner-wrapper .banner-heading {
  position: relative;
  bottom: 40px;
}
.banner.home-banner .bg .banner-wrapper .banner-heading ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.banner.home-banner .bg .banner-wrapper .banner-heading ul li a {
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: 0.5s ease;
}
.banner.home-banner .bg .banner-wrapper .banner-heading ul li a figure {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.banner.home-banner .bg .banner-wrapper .banner-heading ul li a figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 2px;
}
.banner.home-banner .bg .banner-wrapper .banner-heading ul li a.active {
  padding: 11px 17px;
  border-radius: 25px;
  border: 1px solid var(--white);
}
.banner.home-banner .bg .banner-wrapper .banner-heading ul li a.active figure {
  display: block;
}
.banner.home-banner .bg .banner-wrapper .flex-box {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col {
  width: 100%;
  height: 347px;
  max-width: 50%;
  background: var(--white);
  border-radius: 10px;
  overflow: hidden;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child {
  padding: 15px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row {
  border-radius: 6px;
  border: 1px solid #E0DEDE;
  width: 100%;
  height: 118px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .switch-location {
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .switch-location figure {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1607843137);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 6px;
  background: var(--white);
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .switch-location figure img {
  width: 100%;
  height: 100%;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .location-section {
  padding: 20px;
  flex: 0 1 45%;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .location-section .location-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text);
  padding-bottom: 15px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .location-section .location-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  color: var(--black);
  padding-bottom: 10px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .location-section .location-code {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--text);
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .location-section:last-child {
  padding: 20px 20px 20px 60px;
  border-left: 1px solid #E0DEDE;
  flex: 0 1 55%;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row {
  border-radius: 6px;
  border: 1px solid #E0DEDE;
  width: 100%;
  height: 118px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section {
  padding: 20px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section .detail-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text);
  padding-bottom: 15px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section .detail-value {
  padding-bottom: 10px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section .detail-value b {
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  color: var(--black);
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section .detail-value span {
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  color: var(--black);
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section .detail-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(1) {
  flex: 0 1 30%;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(2) {
  flex: 0 1 30%;
  border-left: 1px solid #E0DEDE;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(2) .detail-text {
  color: #AFAFAF;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(3) {
  flex: 0 1 60%;
  border-left: 1px solid #E0DEDE;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .search-button {
  background: #E7B806;
  border-radius: 5px;
  padding: 6px 35px;
  gap: 10px;
  color: var(--black);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:last-child {
  background: #FFFFFF;
  background: rgba(255, 255, 255, 0.5019607843);
  background: #8E41DC;
}
.banner.home-banner .swiper .swiper-wrapper .swiper-slide .slide-box {
  height: 310px;
}
.banner.home-banner .swiper .swiper-wrapper .swiper-slide .slide-box img {
  border-radius: 10px;
  overflow: hidden;
}
.banner.home-banner .swiper .swiper-pagination {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  gap: 3px;
}
.banner.home-banner .swiper .swiper-pagination span {
  position: relative;
  background-color: white;
  opacity: 1;
  transition: 0.5s ease;
  background: rgba(255, 255, 255, 0.5019607843);
}
.banner.home-banner .swiper .swiper-pagination .swiper-pagination-bullet-active, .banner.home-banner .swiper .swiper-pagination .fill {
  background: var(--white);
  transition: 0.5s ease;
}

.home-secA {
  position: relative;
}
.home-secA .heading {
  text-align: center;
}
.home-secA .heading h2 {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--primary);
}
@media only screen and (max-width: 540px) {
  .home-secA .heading h2 {
    font-size: 27px;
  }
}
.home-secA .heading p {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  color: #000;
  max-width: 630px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .home-secA .heading p {
    font-size: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secA .heading p {
    font-size: 20px;
  }
}
.home-secA .services-container {
  width: 100%;
  padding: 70px 0 20px;
  display: flex;
  gap: 70px;
}
@media only screen and (max-width: 991px) {
  .home-secA .services-container {
    gap: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .home-secA .services-container {
    padding: 50px 0 20px;
    gap: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secA .services-container {
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
  }
}

.home-secB {
  padding: 0;
  overflow: hidden;
}
.home-secB .heading {
  margin-bottom: 40px;
}
@media only screen and (max-width: 540px) {
  .home-secB .heading h2 {
    font-size: 27px;
  }
}
.home-secB .banner {
  height: 100vh;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .home-secB .banner {
    height: 90vh;
  }
}
@media only screen and (max-width: 540px) {
  .home-secB .banner {
    height: 100vh;
  }
}
.home-secB .banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
}
.home-secB .banner::before {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}
@media only screen and (max-width: 768px) {
  .home-secB .banner::before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  }
}
.home-secB .banner .bg {
  height: 100%;
}
.home-secB .banner .bg figure {
  height: 100%;
}
.home-secB .banner .bg figure video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-secB .banner .banner-wrapper {
  bottom: 18%;
}
@media only screen and (max-width: 1024px) {
  .home-secB .banner .banner-wrapper {
    bottom: 20%;
  }
}
@media only screen and (max-width: 768px) {
  .home-secB .banner .banner-wrapper {
    bottom: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.home-secB .banner .banner-wrapper .container {
  position: absolute;
  bottom: 20%;
}
@media only screen and (max-width: 540px) {
  .home-secB .banner .banner-wrapper .container {
    bottom: initial;
  }
}
.home-secB .banner .banner-wrapper .heading {
  max-width: 500px;
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  .home-secB .banner .banner-wrapper .heading {
    max-width: 100%;
    text-align: center;
  }
}
.home-secB .banner .banner-wrapper .heading h3 {
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}
@media only screen and (max-width: 991px) {
  .home-secB .banner .banner-wrapper .heading h3 {
    font-size: 80px;
  }
}
@media only screen and (max-width: 768px) {
  .home-secB .banner .banner-wrapper .heading h3 {
    font-size: 45px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secB .banner .banner-wrapper .heading h3 {
    font-size: 23px;
    margin-bottom: 10px;
    line-height: 1.1;
  }
}
.home-secB .banner .banner-wrapper .heading h3:nth-child(2) {
  text-align: center;
}
.home-secB .banner .banner-wrapper .heading h3:last-child {
  text-align: end;
}
.home-secB .banner .banner-wrapper .heading p {
  font-weight: 500;
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (max-width: 540px) {
  .home-secB .banner .banner-wrapper .heading p {
    line-height: 1.2;
    font-size: 14px;
    font-weight: normal;
  }
}
.home-secB .banner .banner-wrapper .heading .bottom-btn {
  padding: 16px 24px;
  border-radius: 25px;
  display: inline-block;
  margin-top: 40px;
  color: var(--white);
  background: #FFA319;
  font-weight: 600;
  font-size: 16px;
  line-height: 10px;
  text-transform: uppercase;
}
@media only screen and (max-width: 540px) {
  .home-secB .banner .banner-wrapper .heading .bottom-btn {
    padding: 10px 24px;
  }
}
.home-secB .banner .banner-wrapper .right-wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 40px;
}
@media only screen and (max-width: 768px) {
  .home-secB .banner .banner-wrapper .right-wrapper {
    justify-content: center;
    margin-top: 70px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secB .banner .banner-wrapper .right-wrapper {
    flex-direction: column;
  }
}
.home-secB .banner .banner-wrapper .right-wrapper img {
  width: -moz-fit-content;
  width: fit-content;
}
.home-secB .banner .banner-wrapper .right-wrapper .year span {
  font-weight: 600;
  font-size: 24px;
  color: white;
  line-height: 30px;
}
.home-secB .banner .banner-wrapper .right-wrapper .year p {
  color: var(--white);
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
.home-secB .banner .banner-wrapper .right-wrapper .play-button .play-btn {
  background: white;
}
.home-secB .banner .banner-wrapper .right-wrapper .play-button .play-btn::after {
  border-left: calc(var(--btnsize) / 5.6) solid #3107CA;
}

.home-secC {
  padding: 0px 0 60px 0;
  overflow: hidden;
}
.home-secC .heading {
  padding: 60px 0 40px 0;
}
@media only screen and (max-width: 540px) {
  .home-secC .heading {
    padding: 60px 0 30px 0;
  }
}
@media only screen and (max-width: 540px) {
  .home-secC .heading h2 {
    font-size: 27px;
  }
}
.home-secC .grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}
@media only screen and (max-width: 1024px) {
  .home-secC .grid-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 540px) {
  .home-secC .grid-box {
    grid-template-columns: repeat(1, 1fr);
  }
}
.home-secC .grid-box .col:hover figcaption {
  top: 0%;
}
.home-secC .grid-box .col:hover figcaption .content h5 {
  margin-bottom: 20px;
}
.home-secC .grid-box .col:hover figcaption .content p {
  scale: 1;
  margin-left: 0;
  margin-top: 0;
}
.home-secC .grid-box .col:hover figure::before {
  background: #3107CA;
}
.home-secC .grid-box .col:hover figure::after {
  opacity: 0.4;
}
@media only screen and (max-width: 768px) {
  .home-secC .grid-box .col:hover figure::after {
    opacity: 0.1;
  }
}
.home-secC .grid-box .col figure {
  position: relative;
  overflow: hidden;
  line-height: 0;
}
.home-secC .grid-box .col figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.9%, rgba(0, 0, 0, 0.65) 100%);
  z-index: 1;
  transition: 0.8s ease;
}
.home-secC .grid-box .col figure::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 160px;
  height: 130px;
  z-index: 2;
  background-image: url("/assets/images/home/x-vector.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 1s;
}
.home-secC .grid-box .col figure img {
  height: 100%;
  transition: 0.4s ease;
}
.home-secC .grid-box .col figure figcaption {
  position: absolute;
  top: 67%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.8s ease;
}
@media only screen and (min-width: 1500px) {
  .home-secC .grid-box .col figure figcaption {
    top: 70%;
  }
}
.home-secC .grid-box .col figure figcaption .content {
  padding: 40px 0 0 30px;
}
@media only screen and (max-width: 768px) {
  .home-secC .grid-box .col figure figcaption .content {
    padding: 40px 0 0 20px;
  }
}
.home-secC .grid-box .col figure figcaption .content h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
  margin-bottom: 90px;
  transition: 0.8s ease;
}
@media only screen and (max-width: 768px) {
  .home-secC .grid-box .col figure figcaption .content h5 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secC .grid-box .col figure figcaption .content h5 {
    font-size: 19px;
  }
}
.home-secC .grid-box .col figure figcaption .content p {
  line-height: 1.3 !important;
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 350px;
  scale: 1.1;
  margin-left: 20px;
  margin-top: 40px;
  transition: 0.8s ease;
}
@media only screen and (max-width: 540px) {
  .home-secC .grid-box .col figure figcaption .content p {
    font-size: 14px;
  }
}
.home-secC .grid-box .col figure figcaption .content .bottom-btn {
  border-radius: 25px;
  padding: 16px 24px;
  background: #FFA319;
  display: inline-block;
  margin-top: 50px;
}
@media only screen and (max-width: 768px) {
  .home-secC .grid-box .col figure figcaption .content .bottom-btn {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secC .grid-box .col figure figcaption .content .bottom-btn {
    padding: 10px 24px;
  }
}
.home-secC .grid-box .col figure figcaption .content .bottom-btn span {
  font-weight: 600;
  font-size: 16px;
  line-height: 10px;
  color: var(--white);
  display: inline-block;
}

.home-secD {
  padding: 0px 0 70px 0;
  overflow: hidden;
  max-width: 70%;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .home-secD {
    max-width: 90%;
  }
}
@media only screen and (max-width: 540px) {
  .home-secD .heading h2 {
    font-size: 27px;
  }
}
.home-secD .content {
  max-width: 663px;
  padding: 10px 0;
  margin: auto;
}
.home-secD .content p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: var(--text);
  line-height: 22px;
  margin-bottom: 30px;
}
.home-secD .content .bottom-btn {
  text-align: center;
  font-weight: 600;
  line-height: 10px;
  display: inline-block;
  width: 100%;
}
.home-secD .content .bottom-btn span {
  margin: auto;
  font-size: 14px;
  text-transform: uppercase;
  color: #3107CA;
  border: 1px solid #3107CA;
  border-radius: 25px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 24px;
  display: inline-block;
}
.home-secD .custom-slider {
  padding: 50px 0 0 0;
}
.home-secD .custom-slider .swiper-wrapper {
  transition-timing-function: linear !important;
}
.home-secD .custom-slider .swiper-wrapper .item-md figure {
  width: 98px;
  height: 98px;
}
.home-secD .custom-slider .swiper-wrapper .item-md figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-secE {
  background: #3107CA;
  padding: 0 0 100px 0;
}
@media only screen and (max-width: 540px) {
  .home-secE {
    padding: 0 0 40px 0px;
  }
}
.home-secE .heading {
  padding: 60px 0 0px 0;
  text-align: center;
}
.home-secE .heading h2 {
  color: var(--white);
}
@media only screen and (max-width: 540px) {
  .home-secE .heading h2 {
    font-size: 27px;
  }
}

.heading h2 {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--primary);
}

.displaynone {
  display: none;
}/*# sourceMappingURL=home.css.map */