@font-face {
    font-family: 'ttrg-bd';
    src: url('TTFirsNeue-Bd.woff2') format('woff2'),
        url('TTFirsNeue-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ttrg';
    src: url('TTFirsNeue-Rg.woff2') format('woff2'),
        url('TTFirsNeue-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

